:root {
  --color-inhouse: #f3ded7;
  --color-rosey-cheek: #dfb249;
  --color-bronzed-rose: #b78e80;
  --color-pink-kisses: #e89b93;
  --color-inhouse-colour: #ffdae9;
  --color-charcoal: #4c4c4b;


  --color-text-primary: var(--color-charcoal);
  --color-text-button-primary: #fff;
  --color-textfield: #959fa8;

  --color-border: #e0e0e0
}
