.navLinks {
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.navLinks .activeLink {
  position: relative;
  text-decoration: none;
}

.navLinks .activeLink::before {
  content: "";
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  right: 0;
  height: 0.2rem;
  background-color: var(--color-pink-kisses);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
